.shop-wrap {
    max-width: 900px;
    width: 60%;
    margin: 20px 25px;
    background-color: #edf1f9
}
.cart {
    position: fixed;
    left: 990px;
    top: 0px;
    background-color: #edf1f9;
    padding: 10px;
    width: 300px;
    height: 980px;
}
.checkoutButton{
   background-color: #0d5580;
   color: #fff;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 400;
    height: 36px;
    border: none;
    width: 290px;
    margin-left: auto;
  }
.greeting {
   font-family:  Roboto, "Trebuchet MS", Arial, "sans-serif";
   color: #919191;
   font-size: 14px;
   font-weight: normal;
   font-style: normal;
   margin: 10px;

}
